[Desktop Entry]
Encoding=UTF-8
Name=wf-pc-chat
Name[zh_CN]=野火IM
Comment=Wildfire Chat PC Client
Comment[zh_CN]=野火IM PC客户端
Exec=/opt/野火IM/野火IM %U
GenericName=wf-pc-chat
GenericName[zh_CN]=野火IM
MimeType=application/wf-pc-chat;
Icon=/opt/野火IM/resources/extraResources/icons/128x128.png
Keywords=various;keywords;describing;your;application;
StartupNotify=true
Terminal=false
Type=Application
Categories=Chat;
